@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@media (max-width: 992px) {
    .navbar-collapse {
        background: rgba(0,172,217,1);
        padding-left: 1rem;
    }
}

@media (max-width: 768px) {
    .image-box{
        display: none;
    }

    #features .device img{
        margin-bottom: 2rem;
    }

    #contact .address {
        margin-top: 2rem;
    }

    #footer .footer-logo {
        margin-top: -1rem;
    }

    .main-hero-content h1{
        text-align: center;
    }

    .main-hero-content p{
        text-align: center;
    }

    .hero-buttons {
        text-align: center;
        padding-bottom: 2rem;
    }

    #features {
        margin-top: 0;
    }

    #pricing .pricing-table {
        width: calc(80% / 1);
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/*---------------------------------------------------*/


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.btn-white {
    border: 1.5px solid #fff;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 2rem;
}

.btn-white:hover{
    background-color: #fff;
    color: #03bad5;
    border: 1px solid #fff;
    text-decoration: none;
}

/* SECTION TITLE */

.section-title {
    position: relative;
}

h2.section-title-heading {
    color: #37474f;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.section-title::after{
    content:'';
    position: absolute;
    border-bottom: 2px solid #03bad5;
    width: 8%;
    top: 80px;
}

.section-title:hover::after{
    width: 12%;
    transition: all 0.6s ease-out;
}

/* NAVBAR */
.navbar{
    padding-top: 1.2rem;
}

#header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
}

#header .navbar-light .navbar-nav .nav-link:hover{
    color: #27778b;
}

.navbar.active{
    background-color: rgba(0,172,217,0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}

/* HERO SECTION */

#hero {
    background-image: linear-gradient(to right, rgba(0,172,217,0.62), rgba(105,240,174,0.52)), url(images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
}

#hero::after{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-hero-content h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.11rem;    
}

.main-hero-content p{
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.image-box img{
    position: absolute;
    top: 2rem;
    z-index: 1;
}

/* ABOUT SECTION */

#about i {
    color: #03bad5;
}

#about h3{
    color: #37474f;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#about p{
    color: #27778b;
    font-size: 1rem;
    line-height: 1.7rem;
}

#about {
    position: relative;
    padding-bottom: 8rem;
}

#about::after{
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: -50px;
    right: 0;
    left: 0;
}

/* FEATURES SECTION */

#features {
    background-color: #fafafa;
    padding-bottom: 6rem;
    margin-top: 3rem;

}

#features img{
    display: block;
    margin: 0 auto;
}

#features .feature-block{
    text-align: center;
}

#features .feature-block h3{
    color: #37474f;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#features .feature-block img{
    padding-bottom: 1rem;    
}

#features .feature-block p{
    color: #27778b;
    font-size: 1rem;
    line-height: 1.7rem;  
}

/* DOWNLOAD SECTION */

#download {
    background-image: linear-gradient(to right, rgba(0,172,217,0.62), rgba(105,240,174,0.52)), url(images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
    position: relative;
}

#download::before{
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#download .download-title h2{
    padding-top: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

#download .download-title p{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 2.5rem;
}

#download .download-title .download-btns {
    margin-top: 4rem;
}

#download .download-title .download-btns a{
    border: 2px solid #fff;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
}

#download .download-title .download-btns a:hover{
    background-color: #fff;
    color: #03bad5;
    border: 2px solid #fff;
    text-decoration: none;
}

/* PRICING SECTION */

#pricing{
    padding-bottom: 7rem;
    position: relative;    
}

#pricing::before{
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#pricing .section-title{
    margin-bottom: 5rem;
}

#pricing .pricing-table {
    background-color: #fff;
    box-shadow: -1px 0px 12px 4px rgba(0,0,0,0.24);
    margin-right: 1rem;    
    padding-left: 0;
    padding-right: 0;
}

#pricing .pricing-table .table-header h4{
    color: #27778b;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

#pricing .pricing-table .table-content {
    margin-top: 2rem;    
}

#pricing .pricing-table .table-content ul li{
    list-style: none;
    text-align: center;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

#pricing .pricing-table .table-footer {
    margin-top: 2rem;
    padding-bottom: 3rem;    
}

#pricing .pricing-table .table-footer a{
    background: linear-gradient(to right, rgba(0,172,217,0.62), rgba(105,240,174,0.52));
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
}

#pricing .pricing-table .table-footer a:hover {
    text-decoration: none;
    background: #fff;
    color: rgba(0,172,217,0.62);
    border: 2px solid rgba(0,172,217,0.62);
}

#pricing .table-header {
    margin: 0;
    width: 100%;
}

#pricing .pricing-table .table-header{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#pricing .pricing-table:nth-child(2) .table-header {
    background: linear-gradient(to right, rgba(0,172,217,0.62), rgba(105,240,174,0.52));
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: #fff;
    position: relative;
}

#pricing .pricing-table:nth-child(2) .table-header img {
    position: absolute;
    left: 5px;
    top: 5px;
}

#pricing .pricing-table:nth-child(2) .table-header h4{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}


/* CONTACT SECTION */

#contact {
    background-color: #f0f1f3;
    padding-bottom: 5rem;
    padding-top: 8rem;
    position: relative;
}

#contact::before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#contact .btn-contact {
    background: linear-gradient(to right, rgba(0,172,217,0.62), rgba(105,240,174,0.52));
    padding: 0.5rem 2.2rem;
    color: #fff;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}

#contact .btn-contact:hover{
    background: #fff;
    color: rgba(0,172,217,0.62);
    border: 2px solid rgba(0,172,217,0.62);
}

#contact .contact-details ul li{
    padding-bottom: 0.8rem;
}

#contact .contact-details ul li i{
    color: rgba(0,172,217,0.62);
}

/* FOOTER SECTION */

#footer {
    background-color: #2b323f;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;
}

#footer::before{
    content: '';
    position: absolute;
    background-color: #2b323f;
    width: 100%;
    height: 45%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -5.5rem;
    right: 0;
    left: 0;
}

#footer .footer-logo img{
    margin-top: -4.5rem;
}

#footer .social-icons {
    margin-top: -1rem;
}

#footer .social-icons a{
    margin-right: 10px;
    color: #8d8c8c;    
}

#footer .social-icons a:hover{
    cursor: pointer;
    transform: scaleY(1.1);
    color: #fff;
}

#footer .copyright p{
    margin-top: 1rem;
    color: #fff;
    font-size: 0.9rem;
}
